.banner-text {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: none !important;
    margin-bottom: 20px;
}

.bg-img {
    height: 600px;
}

.banner-bg-color {
    background-color: #000;
    position: absolute;
    height: 600px;
    width: 100%;
    opacity: 0.6;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 3.5rem;
    max-width: 600px;
    margin-inline: auto;
    font-weight: 900;
}

.card-subtitle {
    font-size: 1.5rem;
    padding-block: 20px;
}

.card-description {
    font-size: 1rem;
    padding: 20px;
}

/* Media Query */
@media only screen and (max-width: 1200px) {
    .card-title {
        font-size: 2.5rem;
        max-width: 40vw;
    }
}

@media only screen and (max-width: 992px) {
    .card-title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .card-subtitle{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .card-title {
        max-width: 100vw;
        margin-inline: auto;
    }
}