.accordion {
    background-color: #000 !important;
}

.accordion-button,
.accordion-body {
    background-color: rgb(45, 45, 45) !important;
    color: #fff;
    font-size: 1.5rem !important;
}

.accordion-button:hover,
.accordion-body:hover {
    background-color: rgba(45, 45, 45, 0.9) !important;
}

.accordion-item {
    background-color: rgb(45, 45, 45) !important;
    border: none !important;
    margin-bottom: 10px;
}

.accordion-button {
    height: 80px !important;
}

.accordion-button:not(.collapsed) {
    color: #fff;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    background-image: url(../assets/plus.png) !important;
}

.accordion-button:not(.collapsed)::after {
    transform: rotate(45deg);
}

/* Media Query */
@media only screen and (max-width: 576px){
    .accordion-button{
        font-size: 1.2rem !important;
    }
}