.header {
    height: 60px;
    z-index: 2;
    position: absolute;
    width: 100%;
}

.sec-footer a {
    color: rgba(255, 255, 255, 0.7) !important;
    text-decoration: underline solid rgba(255, 255, 255, 0.7) 1px !important;
}

.footer-links{
    padding: 0;
}

.footer-links li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-links a {
    display: block;
    width: 267px;
}
.form-select{
    width: 100px;
}