.sec-footer {
    padding-top: 40px;
}

.sec-footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline solid rgba(255, 255, 255, 0.7) 1px;
    font-size: 0.9rem;
}

.footer-links {
    padding: 0;
}

.footer-links li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    padding-top: 20px;
}

.footer-links a {
    display: block;
    width: 267px;
}

.form-select {
    width: 150px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    margin-block: 10px;
}

.footer-bottom {
    position: relative;
    display: flex;
}

.footer-bottom img {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 18px;
    left: 10px;
    z-index: 1;
}

.netflixPk {
    padding-top: 20px;
    display: inline-block;
}